@import "tailwindcss";


@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoNarrow";
  src: url("./font/ArchivoNarrow.ttf") format("truetype");
}

@font-face {
  font-family: "CutiveMono";
  src: url("./font/CutiveMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KGAllofMe";
  src: url("./font/KGAllofMe.ttf") format("truetype");
}

@font-face {
  font-family: "Chomsky";
  src: url("./font/Chomsky.otf");
}

@font-face {
  font-family: "NotoSerif";
  src: url("./font/NotoSerif.ttf") format("truetype");
}

#root {
  font-family: "CutiveMono";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
}

.marker {
  background-color: #fff;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.perforated-x {
  -webkit-mask: radial-gradient(circle 8px at 8px -3px, transparent 9px, #000 9px) 0 0/16px 100% repeat-x;
  mask: radial-gradient(circle 8px at 8px -3px, transparent 9px, #000 9px) 0 0/16px 100% repeat-x;
}

.shadow-natural {
  filter:
    drop-shadow(0 10px 20px rgba(0, 0, 0, 0.22)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
}

.light-green-tile-bg {
  background-color: #707c58;
  opacity: 0.8;
  background-image: linear-gradient(#889471 1.6px, transparent 1.6px), linear-gradient(to right, #889471 1.6px, #707c58 1.6px);
  background-size: 36px 36px;
}

.dark-green-tile-bg {
  background-color: #18240e;
  opacity: 0.8;
  background-image: linear-gradient(#9f9f83 1.6px, transparent 1.6px), linear-gradient(to right, #9f9f83 1.6px, #18240e 1.6px);
  background-size: 36px 36px;
}

.tile-bg {
  background-color: #e7e2dc;
  opacity: 0.8;
  background-image: linear-gradient(#737373 1.6px, transparent 1.6px), linear-gradient(to right, #737373 1.6px, #e7e2dc 1.6px);
  background-size: 36px 36px;
}